# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[scrapyd]
application = scrapy_heroku.app.application

[settings]
default = demo3.settings

[deploy]
url = https://crawlapi.herokuapp.com/
project = demo3
username = ark
password = anandh